@import url('https://fonts.googleapis.com/css?family=Comfortaa|Source+Sans+Pro');

body {
    margin: 0;
    background-color: #F1F1F1;
    font-family: 'Source Sans Pro', sans-serif;
}
mark {
    background-color: #ffe58c;
}
.container {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}
.red {
    color: #E64C3C;
}
.blue {
    color: #48A0DC;
}
.green {
    color: #60D966;
}
.yellow {
    color: #F5D14E;
}
h3 {
    margin-bottom: 5px;
}
.even {
    background-color: #F1F1F1; 
}
.odd {
    background-color: #e0e0e0;
}
* {
    box-sizing: border-box;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    width: 100%;
}
@media all and (min-width: 800px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}