.fake-table {
    background-color: #FFF;
    margin: 30px 0;
    border: 1px solid #CBCBCB;
}
.field, .field-2 {
    padding: 3px 5px;
    font-size: 14px;
    margin-top: 10px;
    width: 100%;
    border: 1px solid #CBCBCB;
}
.field-2 {
    max-width: 100%;
    height: 200px;
    font-family: 'Source Sans Pro', sans-serif;
}
.form-container {
    margin: 50px 0;
    display: flex;
    justify-content: center;
}
.recordForm {
    width: 90%;
    background-color: #FFF;
    padding: 0 20px 20px 20px;
    border: 1px solid #CBCBCB;
}
label {
    font-weight: 700;
    font-size: 18px;
    display: block;
    margin-top: 15px;
}
.top {
    border-bottom: 1px solid #CBCBCB;
}
.top div {
    font-weight: 900;
    padding: 10px;
}
.middle {
    min-height: 50px;
}
.middle div {
    padding: 5px 10px;
}
.middle button {
    border: none;
    font-weight: 700;
    background-color: inherit;
    cursor: pointer;
    padding: 0;
}
.bottom {
    height: 35px;
    border-top: 1px solid #CBCBCB;
}
.submit {
    color: #FFF;
    margin: 0 auto;
    display: block;
    border: none;
    background-color: #60D966;
    padding: 5px 10px;
    font-weight: 700;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}
@media all and (min-width: 400px) {

}