<div class="frame">
  <div class="row">
    <div class="col-12 header-container">
      <div class="row header">
        <div class="col-12">
            <span class="red">C</span>
            <span class="blue">A</span>
            <span class="green">R</span>
            <span class="yellow">E</span>
            <img src="assets/heart.png" class="logo">
        </div>
      </div>
      <div class="row">
        <h1>Cohort Assessment and Retrieval Environment</h1>
      </div>
      <div class="row">
        <ul class="nav">
          <li class="nav-item"><a routerLink="/input">Input</a></li>
          <li class="nav-item"><a routerLink="/about">About</a></li>
          <li class="nav-item"><a routerLink="/records">Records</a></li>
          <li class="nav-item"><a routerLink="/manager">Manager</a></li>
        </ul>
      </div>  
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <footer>
        <div class="row footer-container">
          <div class="col-6">
            <p>© Copyright 2017</p>
            <p>Created by Jordan Tang, Payal Shah, and Kyle Ellis</p>
            <p>Icon made by Madebyoliver (Freepik) from www.flaticon.com</p>
          </div>
          <div class="col-6">
            <img src="assets/vcu_head_logo.PNG" class="vcu-logo">
          </div>
        </div>
      </footer>
    </div>
  </div>
</div>