<div class="row container">
  <div class="col-9">
    <h1>About</h1>
    <p>The CARE (Cohort Assessment and Retrieval Environment) system was developed by the CS312 team
    under Dr. Bridget McInnes. It was designed to process clinical records for the purpose of cohort
    discovery. It utilizes MetaMap and MetaMap::Datastructures in the background to 
    process records as well as input data.</p>
    <p>Background overview: clinical trials are research studies that explore whether a medical treatment is safe and
    effective for humans. For example, a clinical trial to determine the maximally tolerated doses of
    dinaciclib and bortezomib for the treatment of relapsed multiple myeloma. The identification of
    patients who satisfy a set of predefined criteria for the trial is instrumental. However, the process
    of distinguishing these patients on the basis of their clinical records is a time consuming and
    challenging task. The specific criteria about a patient is often contained within the unstructured
    text portions of a clinical record such as radiology reports, progress notes, and discharge
    summaries. A large number of studies have been published describing ways to automate this
    process but require the development of complex manually validated term searches. One
    difficulty with this is data normalization; there are many ways to describe a single concept. For
    example, Heart Attack and Myocardial Infarction both refer to the death of the heart muscle. The solution developed
    for the problem outlined was a system that can easily identify and display which patients are best suited for a specific 
    clinical trial based on structured and unstructured data in their patient records.</p>
    <p>To add (in|ex)clusion criteria, navigate to the inputs component via the inputs button.
    To view sorted records, navigate to the records component via the records button. To manage records in the database,
    navigate to the manager component via the manager button.</p>
    <img src="assets/computer.png" class="logo">
  </div>
</div>